<form [formGroup]="loginForm" (ngSubmit)="login()" #formDirective="ngForm">
  <section>
    <mat-form-field>
      <mat-label for="username">Email</mat-label>
      <input matInput id="username" formControlName="username" />
    </mat-form-field>
  </section>
  <section>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="confirm-password">Confirm Password</mat-label>
      <input
        matInput
        type="password"
        id="confirm-password"
        formControlName="confirmPassword"
      />
    </mat-form-field>
    @if (formDirective.errors?.matchValue) {
      <mat-error>Passwords must match</mat-error>
    }
  </section>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="loginForm.invalid || disabled"
  >
    Login
  </button>
</form>
