.snack-container {
  width: 390px;
}

p {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  color: white;
  margin-top: 8px;
  &:hover {
    cursor: pointer;
  }
  &.success {
    background-color: #12805c;
  }
  &.warning {
    background-color: #cb6f10;
  }
  &.error {
    background-color: #c9252d;
  }
}